<%- include("header", {title: title}); %>

<div class="container">
    <h3>Search Word</h3>
    <form class="form2" onsubmit="" method="get" action="/search/result">
        <input type="text" id="search" name="search">
        <input type="submit" id="btn" value="Search">
    </form>
</div>

</body>
</html>